body {
   margin: 0;
  font-family: 'Arial', sans-serif;
   background:white
   
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: white;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo span {
  color: #444;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links li a {
  text-decoration: none;
  color: #000;
}

.icons {
  font-size: 20px;
}

.hero {
  display: flex;
  align-items: center;
  padding: 60px 50px;
  background: #f8f8f8;
}

.hero-text {
  flex: 1;
}
.hero-text h1 {
  font-size: 36px;
}
.hero-text p {
  margin-top: 10px;
  max-width: 400px;
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: gold;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
}

.hero-image {
  flex: 1;
  text-align: right;
}
.hero-image img {
  max-width: 100%;
  border-radius: 20px;
}
